PORT=3001
DB_URL=postgresql://apris_user:apris_pass@localhost:5432/apris_db
JWT_SECRET=b15eeeb6cf0d40edad8b39ef2735335eb15eeeb6cf0d40edad8b39ef2735335e
WEATHERAPI_KEY=your_weatherapi_com_key_here

ML_SERVICE_URL=http://localhost:8000
ANTHROPIC_API_KEY=your_anthropic_api_key_here
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
